.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: var(--tran-03);
    color: #fff;
  }
  
  .btn.primary {
    background-color: var(--primary-color);
  }
  
  .btn.secondary {
    background-color: var(--primary-color-light);
  }
  
  body.dark .btn {
    color: var(--text-color);
  }
  
  body.dark .btn.primary {
    background-color: var(--primary-color);
  }
  
  body.dark .btn.secondary {
    background-color: var(--primary-color-light);
  }
  