.list-indicadores-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.list-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.indicadores-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.indicador-card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    width: 250px;
}

.indicador-card:hover {
    transform: scale(1.05);
}

.indicador-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #164b99;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.indicador-button:hover {
    background-color: #1c63c9;
}
