/* General layout */
.calendar-tasklist-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.my-calendar-container {
  flex: 2.1;
  background-color: var(--sidebar-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: var(--tran-05);
}

.calendar-title {
  font-size: 22px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 20px;
}

.custom-event {
  color: #fff;
  padding: 6px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background-color: var(--primary-color);
  transition: var(--tran-04);
}

/* Imagen del responsable */
.responsable-photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--primary-color);
  transition: var(--tran-03);
}

/* Modal */
.modal-title {
  color: var(--text-color);
}

.modal-content {
  background-color: var(--sidebar-color);
  color: var(--text-color);
}

body.dark .my-calendar-container {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

body.dark .calendar-title,
body.dark .modal-title {
  color: var(--text-color) !important;
}

body.dark .custom-event {
  background-color: var(--primary-color-light) !important;
}

body.dark .rbc-off-range-bg {
  background: var(--color-dark);
}
