.tasklist-container {
  flex: 0.5;
  background-color: var(--sidebar-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.add-event-button {
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
  transition: var(--tran-03);
}

.add-event-button:hover {
  background-color: var(--secondary-color);
}

.tasklist-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 15px;
}

.tasklist {
  list-style: none;
  padding: 0;
  max-height: 350px;
  overflow-y: auto;
}

.tasklist-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: var(--body-color);
  color: var(--text-color-secundary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: var(--tran-04);
}

.tasklist-item:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.task-title {
  font-weight: 600;
  font-size: 15px;
}

.task-due-date {
  color: var(--text-color);
  font-size: 13px;
}
