/* Contenedor de la lista de tareas */
.tasklist-container {
    flex: 1;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  /* Título de la lista */
  .tasklist-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
  }
  
  /* Lista de tareas */
  .tasklist {
    list-style: none;
    padding: 0;
    margin: 0;
  }


  .add-event-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .add-event-button:hover {
    background-color: #3174ad;
  }
  