.assign-indicator-container {
  padding: 20px;
}

.indicator-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Espacio entre las columnas */
}

.indicator-card {
  background-color: var(--color-light);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s;
}

.indicator-card:hover {
  transform: translateY(-5px);
}

.indicator-content {
  text-align: center;
}

.indicator-content h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.coordinator-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.coordinator-tag {
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 0.9em;
}

.button-disabled {
  background-color: #ccc; /* Color para el botón deshabilitado */
  cursor: not-allowed;
}

.modal-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
body.dark .assign-indicator-container {
  background-color: var(--color-dark);
}

body.dark .indicator-card {
  background-color: var(--color-medium);
  border: 1px solid var(--color-light);
}

body.dark .coordinator-tag {
  background-color: var(--primary-color-light);
}


body.dark .indicator-content h3 {
  color: var(--text-color);
}
