.button-container {
  margin-bottom: 1rem;
}

.indicador-button {
  margin-right: 0.5rem;
}

.table-actions-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.table-actions-button:hover {
  background-color: #0056b3;
}
